<h1>dsadsa</h1>

@if(display){
  <h2>Showo </h2>
}
@else {
  <h2>Hidden Content</h2>
  } 

<br>



<div *ngFor="let value of fullstack;">
  <div>sdsd</div>
</div>

<div *ngFor="let value of items;index as i;">
  <div>value-{{i}}</div>
</div>

<div>
<h1>List ofemployee</h1>

<table border="1">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Role</th>
  </tr>
  <tr *ngFor="let emp of employees()">
    <td>{{emp.id}}</td>
    <td>{{emp.name}}</td>
    <td>{{emp.role}}</td>
  </tr>
  <tbody>
    @for(emp of employees();track emp.id){
      <tr>
        <td>{{emp.id}}</td>
        <td>{{emp.name}}</td>
        <td>{{emp.role}}</td>
      </tr>
    }
    @empty{
      <tr>
        <td colspan="3">No employees found.</td>
      </tr> 
    }
  </tbody>
</table>

</div>

